<script>
	function scrollTo(hash) {
	    location.hash = "#" + hash;
	}
</script>

<nav>
	<div style="font-family:monospace;font-weight:bold">
	{% for pages in site.[page.collection] %}
	<a id="{{ pages.capitulo }}{{ pages.pagina }}"></a>

	{% if pages.url == page.url %}&#187;{% endif %}
	{% if pages.url != page.url %}-<a href="{{ site.baseurl }}{{ pages.url }}">{% endif %}
	{{ pages.libro }} - {{ pages.capitulo }} - {{ pages.pagina }}
	{% if pages.url != page.url %}</a>{% endif %}
	<br>
	{% endfor %}
	</div>
</nav>



