{% assign navcap = page.capitulo %}
{% assign precap = navcap | minus: 1 %}
{% assign nexcap = navcap | plus: 1 %}

{% if page.collection %}
{% assign posts = site[page.collection]  %}

{% if posts.size > 1 %}
  {% assign prevurl = posts.last.url | remove: ".html" %}
  {% assign nexturl = posts.first.url | remove: ".html" %}
{% endif %}

{% for links in posts %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = posts[forloop.index] %}
      {% assign nexturl = next.url %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}
{% endif %}



{% comment %}
{{navpag}}
{{prepag}}
{{nexpag}}
{{navcap}}
{{precap}}
{{nexcap}}
{% endcomment %}


			<p>
				{% for pages in site.[page.collection] %}{% if forloop.first %}
				<a href="{{ site.baseurl }}{{pages.url}}">
				{%endif%}{%endfor%}

					&lt;---Prim. pagina
				</a>
			</p>
			<p>][</p>
			<p>
				{% for pages in site.[page.collection] %}{% if pages.capitulo == precap and pages.pagina == 0 %}
				<a href="{{ site.baseurl }}{{pages.url}}">
				{% endif %}{%endfor%}

				&lt;--Cap. anterior

				{% for pages in site.[page.collection] %}{% if pages.capitulo == precap and pages.pagina == 0 %}
				</a>
				{%endif%}{%endfor%}
			</p>
			<p>][</p>
			<p>
				{% for pages in site.[page.collection] %}{% if pages.url == page.url and forloop.first == false %}
				<a href="{{ site.baseurl }}{{ prevurl }}">
				{% endif %}{%endfor%}
				&lt;- Anterior
				{% for pages in site.[page.collection] %}{% if pages.url == page.url and forloop.first == false %}
				</a>
				{% endif %}{%endfor%}
			</p>
			<p>]◝▩◜[</p>
			<p>
				{% for pages in site.[page.collection] %}{% if pages.url == page.url and forloop.last == false %}
				<a href="{{ site.baseurl }}{{ nexturl }}">
				{% endif %}{%endfor%}
				Proxima -&gt;
				{% for pages in site.[page.collection] %}{% if pages.url == page.url and forloop.last == false %}
				</a>
				{% endif %}{%endfor%}
			</p>
			<p>][</p>
			<p>
				{% for pages in site.[page.collection] %}{% if pages.capitulo == nexcap and pages.pagina == 0 %}
				<a href="{{ site.baseurl }}{{pages.url}}">
				{% endif %}{%endfor%}
				Proximo cap. --&gt;
				{% for pages in site.[page.collection] %}{% if pages.capitulo == nexcap and pages.pagina == 0 %}
				</a>
				{%endif%}{%endfor%}
			</p>
			<p>][</p>
			<p>
				{% for pages in site.[page.collection] %}{% if forloop.last %}
				<a href="{{ site.baseurl }}{{pages.url}}">
				{%endif%}{%endfor%}
				Ult. pagina---&gt;
				</a>
			</p>

{% comment %}
//Functional prevpage link! Kind of

    {% for pages in site.[page.collection] %}
      {% if pages.capitulo == page.capitulo %}
        {% if pages.pagina == prepag %}
	{% capture nexlin %} <a href="{{ pages.url }}">{{ pages.pagina }}</a> {% endcapture %}
	{% endif %}
      {% endif %}
    {% endfor %}

{{nexlin}}


//Improvements
{%capture endlin %} {% endcapture %}
{{endlin}}

    {% for pages in site.[page.collection] %}
      {% if pages.capitulo == page.capitulo %}
        {% if pages.pagina == prepag %}
		{% capture nexlin %} <a href="{{ pages.url }}">{% endcapture %}
		{%capture endlin %} ñ</a>{% endcapture %}
	{% endif %}
      {% endif %}
    {% endfor %}

    {{endlin}}



{% endcomment %}
