<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mata seis billones demonios &raquo; {{ page.capitulo }} - {{ page.pagina}}</title>

    <link rel='stylesheet' href='/styles/page.css'>
  </head>
  <body>

	  <div class="pagina"><img alt="{{ page.alt }}" src="{{ page.imagen }}"></img></div>
	  <br>
	  <div class="titulo">KBSD {{ page.capitulo}}—{{ page.pagina }}</div>
	  
	  <div class="creditos">Por Abbaddon. Traducido por {{ page.creditos }}</div>

		  <div class="diatriba">{{ content }}</div>

</body>
</html>
