.titulo {
    font-weight: bold;
    font-synthesis-small-caps: auto;
    font-variant: small-caps;
    font-size: larger;
    font-family: tahoma;
    color:white;
}

.creditos {
	font-size:small;
}
.nav {
	float: left;
	width: fit-content;
	height: 98vh;
	padding:1vh;
	overflow-y: scroll;
	overflow-x:hidden;
}

.page{
	padding-left:8px;
	height: 98vh;
	padding:1vh;
	overflow-y: scroll;
	overflow-x:hidden;
	display: flex;
	flex-direction: column;
}

.nota{
	font-size:small;
}

.tradupage{
	padding-left:8px;
	height: 98vh;
	max-width:51vw;
	padding:1vh;
	overflow-y: scroll;
}

.traducont{
	display: flex;
	flex-direction: row;
}
.traduccion{
	padding:8pt;
	width: 39vw;
	overflow-y:scroll;
	max-height: 96vh;
}

.navbutt{
    display: flex;
    justify-content: center;

}

.pagina{
	align-self:center;
}

body {
    background-color: #191315;
    color:#ea2f45;
    font-family: 'Arial', sans-serif;
    font-size:14px;
    align:center;
    margin: 8px;
    margin-top:0px ;
    margin-bottom:0px ;
}

a {
    color:#e9760d;
}
a:hover {
    color:#f3b379;
}
a:visited {
	color:#e9d10d;
}




td,th {
  background-color: rgba(212, 150, 203, .2);
  padding:2pt;
}
